@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@600&family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&family=Libertinus+Keyboard&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(322, 100%, 98%);
    --light-red: hsl(0, 100%, 63%);
    --dark-cyan: hsl(192, 100%, 9%);
    --grayinsh-blue: hsl(208, 11%, 55%);
    --white: #fff;
    --call-to-action-background: aliceblue;
    --heading-font-family: Poppins;
    --heading-font-weight: 600;
    --body-font-family: Open Sans;
    --body-font-weight-normal: 400;
    --body-font-weight-bold: 700;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    gap: 1.5rem;
    font-family: Open Sans;
    font-size: 18px;
}


header
{
    width: 100%;
    padding: 1rem 3rem;
    background-image: url(images/bg-hero-desktop.svg);
    background-color: var(--light-pink);
}
header nav
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}
header nav a
{
    font-size: 1.1rem;
    padding: 0.5rem 1.5rem;
    background: var(--white);
    box-shadow: 0px 1px 3px 2px #00000025;
    border-radius: 1rem;
    text-align: center;
}

main
{
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1.5rem;
}
main p
{
    color: var(--grayinsh-blue);
}

section
{
    padding: 1.5rem;
    background: var(--white);
    display: flex;
    gap: 2rem;
    border-radius: 0.75rem;
    box-shadow: 0px 1px 3px 2px #00000009;
}



div
{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

section img
{
    max-width: 50%;
}

footer
{
    display: flex;
    flex-direction: column;
    background: var(--dark-cyan);
    padding: 10rem 1.5rem 1.5rem 1.5rem;
    position: relative;
}
footer nav ul
{
    color: white;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    list-style: none;
    gap: 2rem;
}

#copyRight
{
    color: var(--white);
    text-align: end;
}

#community
{
    background: none;
    border-radius: 0;
    box-shadow: none;
}

#buildCommunity
{
    background: none;
    border-radius: 0;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
#buildCommunity div
{
    position: absolute;
    top: -15rem;
    left: 50%;
    transform: translateX(-50%);
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: 0px 1px 3px 2px #00000009;
    gap: 2rem;
    text-align: center;
    max-width: 670px;
    width: 100%;
}

#grid3
{
    grid-column: span 2;
}
#grid3 img
{
    width: 100%;
    height: 100%;
}

#grid4
{
    grid-column: span 3;
}

#grid2
{
    text-decoration: none;
    grid-column: span 2;
}


#footerCircle
{
    display: flex;
    justify-content: center;
    gap: 1rem;
    grid-column: span 3;
}

#spacing
{
    height: 5rem;
}

.buttonGetStarted
{
    max-width: 20rem;
    background: var(--pink);
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
    padding: 0.5rem 1.5rem;
    font-size: 1.1rem;
    text-align: center;
    border-radius: 2rem;
}
.buttonGetStarted:hover
{
    background-color: var(--light-pink);
}

.buttonGetStarted:nth-child(2)
{
    max-width: none;
}

.displayVert
{
    display: flex;
    flex-direction: column;
}

.iconable
{
    display: flex;
    gap: 2rem;
    align-items: start;
}

.footerCircle
{
    width: 2.5rem;
    background-color: none;
    height: 2.5rem;
    flex-direction: row;
    border: 1px solid var(--white);
    border-radius: 50%;
}
.footerCircle:hover
{
    border: 1px solid var(--pink);
    cursor: pointer;
}

.link
{
    text-decoration: none;
    color: var(--white);
}

.link:hover
{
    color: var(--pink);
    text-decoration: underline;
}

.heading
{
    font-size: 2.2rem;
    font-family: Poppins;
}
.heading--heading1
{
    font-size: 3rem;
}

@media (max-width: 768px) {
    header nav
    {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }
    header nav a
    {
        font-size: 0.9rem;
    }

    div
    {
        max-width: 100%;
        text-align: center;
        align-items: center;
    }

    section
    {
        flex-direction: column;
    }

    section img
    {
        max-width: 100%;
    }

    footer nav ul
    {
        grid-template-columns: 1fr;
        align-items: center;
    }

    #grid3
    {
        grid-column: span 1;
    }
    #grid3 img
    {
        width: 10rem;
        height: auto;
    }

    #grid4
    {
        grid-column: span 1;
    }

    #grid2
    {
        grid-column: span 1;
    }

    #footerCircle
    {
        grid-column: span 1;
    }

    #copyRight
    {
        text-align: center;
        padding: 5rem 0 0.5rem 0;
    }

    #buildCommunity div
    {
        max-width: 550px;
    }

    #community
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #growTogether
    {
        flex-direction: column-reverse;
    }

    #yourUsers
    {
        flex-direction: column-reverse;
    }

    .buttonGetStarted
    {
        font-size: 0.9rem;
    }

    .heading
    {
        font-size: 1.5rem;
    }

    .heading--heading1
    {
        font-size: 1.8rem;
    }

    .topLogo
    {
        width: 10rem;
        height: auto;
    }

    .iconable
    {
        text-align: center;
        align-items: center;
    }
}